<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keyword" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- devise alerts -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render "shared/nav", location: 'top' %>
    <!-- current user can only be an OpenStruct class or a User class // refer back to application_controller.rb -->
    <%= login_helper %>
    <!-- devise alerts -->
    <%= yield %>
    <%= source_helper("application") %>
  </body>
</html>
